<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Berita Terbaru Hari Ini</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Berita Terbaru Hari Ini</h1>
        </header>

        <section class="news-section">
            <div class="news-container">
                <h2>Kompas</h2>
                <ul class="news-list">
                {% for berita in kompas %}
                    <li><a href="{{ berita.link }}" target="_blank">{{ berita.title }}</a></li>
                {% else %}
                    <p>Tidak ada berita dari Kompas.</p>
                {% endfor %}
                </ul>
            </div>

            <!-- Detik -->
            <div class="news-container">
                <h2>Detik.com</h2>
                <ul class="news-list">
                {% for berita in detik %}
                    <li><a href="{{ berita.link }}" target="_blank">{{ berita.title }}</a></li>
                {% else %}
                    <p>Tidak ada berita dari Detik.com.</p>
                {% endfor %}
                </ul>       
            </div>
        </section>
    </div>
</body>
</html>
